.item {
  margin: 1rem 0;
  background-color: whitesmoke;
  padding: 1rem;
  color: black;
  padding: 0px 10px;
}

.heading {
  font-size: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.span-quantity {
  font-size: 1rem;
  font-weight: bold;
}

.price {
  font-size: 1rem;
  font-weight: bold;
}

.itemprice {
  font-weight: normal;
  font-size: 1rem;
  font-style: italic;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem 0;
}

.btn-action {
  background-color: black;
  border: 1px solid white;
  margin-left: 0.5rem;
  padding: 0.15rem 1rem;
  color: white;
}

.btn-action:hover,
.btn-action:active {
  cursor: pointer;
  background-color: #4b4b4b;
  color: white;
}

