.details-wrapper {
    background-color: whitesmoke;
    margin: 0 auto;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
    padding: 50px 0;
}

.card {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.details-img {
    width: 100%;
    object-fit: contain;
}

.details-title {
    text-align: center;
    font-size: 2rem;
}

.details-description {
    width: 95%;
    margin: 0 auto;
    text-align: center;
}

.button {
    background-color: black;
    display: block;
    color: white;
    padding: 15px 0px;
    margin: 0;
    border: none;
    min-width: 60%;
    font-size: 1.1rem;
    text-decoration: none;
    margin: 0 auto;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(234, 191, 0);
}


.action-buttons {
    display: flex;
    width: 60%;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
}

.edit {
    text-decoration: none;
    display: block;
    padding: 5px 35px;
    margin-bottom: 10px;
    font-size: 21px;
    text-align: center;
    color: white;
    background: rgb(214, 112, 16);
    border-radius: 5px;
}

.edit:hover {
    background-color: rgb(189, 169, 79);
}

.danger {
    border: none;
    background-color: transparent;
    font-size: 1rem;
}

.danger:hover {
    color: red;
    cursor: pointer;
}




@media (min-width: 450px) {
    .details-img {
        display: block;
        margin: 10px auto;
        height: 30vh;
        width: 30vh;
    }

    .action-buttons {
        flex-direction: row;
    }
}




