.mobile-menu-toggle {
    z-index: 9999;
    width: 3rem;
    background-color: transparent;
}

.btn {
    position: fixed;
    z-index: 1000;
    left: 10px;
    top: 5px;
    border: none;
    background-color: transparent;
}

.btn:hover {
    cursor: pointer;
}


.mobile-menu-toggle:hover {
    cursor: pointer;
}

.backdrop {
    content: "";
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

@media (min-width: 600px) {

    .btn {
        display: none;
    }

    .backdrop{
        display: none;
    }


}