.heading {
    text-align: center;
    font-size: 1.2rem;
}

.img {
    width: 83%;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}

@media (min-width: 768px) {

    .heading {
        text-align: center;
        font-size: 1.5rem;
    }
}


@media (min-width: 1024px) {
    .nav-link {
        padding: 25px 25px;
    }

}

@media (min-width: 1270px) {
    .img {
        width: 70%;
        margin: 0 auto;
        display: block;
        margin-top: 20px;
    }

}